{% extends 'layout_main-drawer_footer_topbar.html' %}
{% block page_description %}126 Te Orienta, Directorio de Servicios{% endblock %}
{% block page_title %}Directorio de Servicios{% endblock %}
{% block body %}
<main class="s-main-content">
    <article class="s-article">
        <div class="container-color-background">
            <div class="mdc-layout-grid container-size-xs">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--align-middle container-justify-center">
                        <div
                            class="mdc-typography--headline2 s-font-color-primary s-font-align-center s-font-family-poppins">
                            Directorio de servicios
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-color-background">
            <div class="mdc-layout-grid container-size-s">
                <div class="mdc-layout-grid__inner">
                    <div
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                        <img src="{{ url_for('static', filename='images/manifest/user_f_02.svg') }}" alt="Logo 126 Te Orienta" />
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--align-middle container-justify-center">
                        <div class="mdc-typography--headline2 s-font-color-secondary s-font-family-poppins">
                            Encuentra asistencia
                        </div>
                        <p class="mdc-typography--body1 s-font-color-on-background">
                            A continuación, encontrarás directorios telefónicos con las diferentes oficinas e
                            instituciones gubernamentales y no gubernamentales, ordenadas por tipo de servicios,
                            municipio y departamento. De esta manera siempre contarás con apoyo a tu
                            alcance, en tu dispositivo desde cualquier lugar.
                        </p>
                        <p class="mdc-typography--body1 s-font-color-on-background">
                            Antes de acudir a estos servicios, llama para verificar los horarios en que se están ofreciendo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-color-background">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle container-justify-center">
                        <h4 class="mdc-typography--headline4 s-font-color-primary s-font-align-center s-font-family-poppins">
                            Directorios
                        </h4>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--align-middle container-justify-center">
                        <ul class="mdc-image-list mdc-image-list--masonry">
                            <li class="mdc-image-list__item">
                                <img class="mdc-image-list__image"
                                    src="{{ url_for('static', filename='images/assets/articles/resources/dir_01.png') }}">
                                <div class="mdc-image-list__supporting">
                                    <span class="mdc-image-list__label">Directorio 01</span>
                                </div>
                            </li>
                            <li class="mdc-image-list__item">
                                <img class="mdc-image-list__image"
                                    src="{{ url_for('static', filename='images/assets/articles/resources/dir_02.png') }}">
                                <div class="mdc-image-list__supporting">
                                    <span class="mdc-image-list__label">Directorio 02</span>
                                </div>
                            </li>
                            <li class="mdc-image-list__item">
                                <img class="mdc-image-list__image"
                                    src="{{ url_for('static', filename='images/assets/articles/resources/dir_03.png') }}">
                                <div class="mdc-image-list__supporting">
                                    <span class="mdc-image-list__label">Directorio 03</span>
                                </div>
                            </li>
                            <li class="mdc-image-list__item">
                                <img class="mdc-image-list__image"
                                    src="{{ url_for('static', filename='images/assets/articles/resources/dir_04.png') }}">
                                <div class="mdc-image-list__supporting">
                                    <span class="mdc-image-list__label">Directorio 04</span>
                                </div>
                            </li>
                            <li class="mdc-image-list__item">
                                <img class="mdc-image-list__image"
                                    src="{{ url_for('static', filename='images/assets/articles/resources/dir_05.png') }}">
                                <div class="mdc-image-list__supporting">
                                    <span class="mdc-image-list__label">Directorio 05</span>
                                </div>
                            </li>
                            <li class="mdc-image-list__item">
                                <img class="mdc-image-list__image"
                                    src="{{ url_for('static', filename='images/assets/articles/resources/dir_06.png') }}">
                                <div class="mdc-image-list__supporting">
                                    <span class="mdc-image-list__label">Directorio 06</span>
                                </div>
                            </li>
                            <li class="mdc-image-list__item">
                                <img class="mdc-image-list__image"
                                    src="{{ url_for('static', filename='images/assets/articles/resources/dir_07.png') }}">
                                <div class="mdc-image-list__supporting">
                                    <span class="mdc-image-list__label">Directorio 07</span>
                                </div>
                            </li>
                            <li class="mdc-image-list__item">
                                <img class="mdc-image-list__image"
                                    src="{{ url_for('static', filename='images/assets/articles/resources/dir_08.png') }}">
                                <div class="mdc-image-list__supporting">
                                    <span class="mdc-image-list__label">Directorio 08</span>
                                </div>
                            </li>
                            <li class="mdc-image-list__item">
                                <img class="mdc-image-list__image"
                                    src="{{ url_for('static', filename='images/assets/articles/resources/dir_09.png') }}">
                                <div class="mdc-image-list__supporting">
                                    <span class="mdc-image-list__label">Directorio 09</span>
                                </div>
                            </li>
                            <li class="mdc-image-list__item">
                                <img class="mdc-image-list__image"
                                    src="{{ url_for('static', filename='images/assets/articles/resources/dir_10.png') }}">
                                <div class="mdc-image-list__supporting">
                                    <span class="mdc-image-list__label">Directorio 10</span>
                                </div>
                            </li>
                            <li class="mdc-image-list__item">
                                <img class="mdc-image-list__image"
                                    src="{{ url_for('static', filename='images/assets/articles/resources/dir_11.png') }}">
                                <div class="mdc-image-list__supporting">
                                    <span class="mdc-image-list__label">Directorio 11</span>
                                </div>
                            </li>
                            <li class="mdc-image-list__item">
                                <img class="mdc-image-list__image"
                                    src="{{ url_for('static', filename='images/assets/articles/resources/dir_12.png') }}">
                                <div class="mdc-image-list__supporting">
                                    <span class="mdc-image-list__label">Directorio 12</span>
                                </div>
                            </li>
                            <li class="mdc-image-list__item">
                                <img class="mdc-image-list__image"
                                    src="{{ url_for('static', filename='images/assets/articles/resources/dir_13.png') }}">
                                <div class="mdc-image-list__supporting">
                                    <span class="mdc-image-list__label">Directorio 13</span>
                                </div>
                            </li>
                            <li class="mdc-image-list__item">
                                <img class="mdc-image-list__image"
                                    src="{{ url_for('static', filename='images/assets/articles/resources/dir_14.png') }}">
                                <div class="mdc-image-list__supporting">
                                    <span class="mdc-image-list__label">Directorio 14</span>
                                </div>
                            </li>
                            <li class="mdc-image-list__item">
                                <img class="mdc-image-list__image"
                                    src="{{ url_for('static', filename='images/assets/articles/resources/dir_15.png') }}">
                                <div class="mdc-image-list__supporting">
                                    <span class="mdc-image-list__label">Directorio 15</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
{% endblock %}