{% extends 'layout_main-drawer_footer_topbar.html' %}
{% block page_description %}126 Te Orienta, Acerca de, Sobre nosotras{% endblock %}
{% block page_title %}Sobre nosotras{% endblock %}
{% block body %}
<main class="s-main-content">
    <article class="s-article">
        <div class="container-color-background">
            <div class="mdc-layout-grid container-size-xs">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--align-middle container-justify-center">
                        <div
                            class="mdc-typography--headline2 s-font-color-primary s-font-align-center s-font-family-poppins">
                            Sobre nosotras
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-color-background">
            <div class="mdc-layout-grid container-size-s">
                <div class="mdc-layout-grid__inner">
                    <div
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                        <img src="{{ url_for('static', filename='images/manifest/group_f_01.svg') }}"
                            alt="Logo 126 Te Orienta" />
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--align-middle container-justify-center">
                        <div class="mdc-typography--headline2 s-font-color-secondary s-font-family-poppins">
                            126 Te Orienta
                        </div>
                        <p class="mdc-typography--body1 s-font-color-on-background">
                            Es una plataforma virtual de servicios para mujeres adultas y jóvenes que han experimentado
                            cualquier tipo de violencia por su condición de género (física, sexual, psicológica,
                            económica; en la relación de pareja, en la familia, comunidad, centro de trabajo).
                        </p>
                        <p class="mdc-typography--body1 s-font-color-on-background">
                            Nuestra misión es garantizar la atención integral y autodeterminación de las sobrevivientes
                            de violencia mediante servicios de asistencia legal, psicológica y social.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-color-primary">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                        <h4 class="mdc-typography--headline4 s-font-color-on-primary s-font-family-poppins">
                            Brindada por:
                        </h4>
                    </div>
                    <div
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                        <img class="resize-image-2fit-90" src="../static/images/manifest/logo_isdemu.png"
                            alt="Logo ISDEMU" />
                    </div>
                </div>
            </div>
        </div>
        <div class="container-color-background">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                                mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                        <h4 class="mdc-typography--headline4 s-font-color-secondary s-font-family-poppins">
                            Con el apoyo de sus aliados:
                        </h4>
                    </div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-middle s-font-align-center">
                        <img class="resize-image-2fit-50" src="../static/images/manifest/bid_slogan.png"
                            alt="Logo BID" />
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
{% endblock %}