{% extends 'layout_main-footer.html' %}
{% block page_description %}126 Te Orienta, Términos y Condiciones del Servicio, TCS, TOS{% endblock %}
{% block page_title %}Términos y Condiciones del Servicio{% endblock %}
{% block body %}
<main class="s-main-content">
    <article class="s-article">
        <div class="container-color-background">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <header class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                                    mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle">
                        <h4 class="mdc-typography--headline4 s-font-color-primary">
                            Términos y Condiciones del Servicio
                        </h4>
                        <h6 class="mdc-typography--subtitle2">
                            Información relevante
                        </h6>
                    </header>
                    <section
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                                    mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle mdc-typography--body1">
                        <p>
                            Es requisito necesario para la adquisición de los servicios que se ofrecen en este sitio,
                            que lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. El
                            uso de nuestros servicios implicará que usted ha leído y aceptado los Términos y
                            Condiciones del Servicio en el presente documento. Todos los servicios que son ofrecidos por
                            nuestro sitio web pudieran ser creados, cobrados, enviados o presentados por una página web
                            tercera y en tal caso estarían sujetos a sus propios Términos y Condiciones. En algunos
                            casos, para adquirir un servicio, será necesario el registro por parte del usuario, con
                            ingreso de datos personales "verdaderos, reales" y definición de una cuenta digital por
                            medio del correo electrónico u otro medio de autenticación soportada.
                        </p>
                        <p>
                            El usuario puede elegir y cambiar la contraseña para su acceso de administración de la
                            cuenta en cualquier momento, en caso de que se haya registrado y que sea necesario para el
                            uso de alguno de nuestros servicios. https://126teorienta.gob.hn no asume la responsabilidad en
                            caso de que entregue dicha contraseña a terceros.
                        </p>
                        <p>
                            Todas las transacciones que se lleven a cabo por medio de este sitio web, están sujetas
                            a un proceso de confirmación y verificación. En algunos casos puede que se requiera una
                            verificación por medio de correo electrónico.
                        </p>
                        <h5 class="mdc-typography--headline5">
                            LICENCIA
                        </h5>
                        <p>
                            126 Te Orienta a través de su sitio web concede una licencia para que los usuarios utilicen los
                            servicios que son proporcionados en este sitio web de acuerdo a los Términos y Condiciones
                            que se describen en este documento.
                        </p>
                        <h5 class="mdc-typography--headline5">
                            PRIVACIDAD
                        </h5>
                        <p>
                            Este sitio web https://126teorienta.gob.hn garantiza que la información personal que usted envía
                            cuenta con la seguridad necesaria. Los datos ingresados por el usuario podrá ser revelada
                            únicamente en cumplimiento a una orden judicial o requerimientos legales.
                        </p>
                        <p>
                            La suscripción a boletines de correos electrónicos publicitarios es voluntaria.
                        </p>
                        <p>
                            126 Te Orienta reserva el derecho de cambiar los términos de la presente política en cualquier momento.
                        </p>
                    </section>
                    <footer class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                                    mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle">
                        <h6 class="mdc-typography--subtitle2">
                            Términos y Condiciones del Servicio | 126 Te Orienta
                        </h6>
                    </footer>
                </div>
            </div>
        </div>
    </article>
</main>
{% endblock %}