{% extends 'layout_main-drawer_footer_topbar.html' %}
{% block page_description %}126 Te Orienta, Welcome, Home, Inicio, Bienvenida{% endblock %}
{% block page_title %}Bienvenida a 126 Te Orienta{% endblock %}
{% block body %}
<main class="s-main-content">
    <div class="container-color-primary">
        <div class="mdc-layout-grid container-size-l">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center"
                    style="grid-row: span 2;">
                    <img src="{{ url_for('static', filename='images/manifest/user_f_01.svg') }}"
                        alt="Logo 126 Te Orienta" />
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--align-middle container-justify-center">
                    <div class="mdc-typography--headline5 s-font-color-yellow-titles s-font-family-poppins">
                        (#126)
                    </div>
                    <div class="mdc-typography--headline2 s-font-color-yellow-titles s-font-family-poppins">
                        Te Orienta
                    </div>
                    <p class="mdc-typography--body1 s-font-color-on-primary">
                        Esta plataforma virtual cuenta con herramientas que ayudarán a las mujeres adultas y jóvenes que
                        han experimentado cualquier tipo de violencia por su condición de género (física, sexual,
                        emocional, económica; en la relación de pareja, en la familia, comunidad, centro de trabajo), a
                        proveerles de recursos informativos y de orientación que les permitan gestionar y salir de
                        ciclos de violencia, brindando siempre una atención personalizada de calidad y con calidez.
                    </p>
                    <p class="mdc-typography--body1 s-font-color-on-primary">
                        Nuestra misión es garantizar la atención integral y empoderamiento de las mujeres en todo su
                        ciclo de vida, a través de los servicios de asistencia legal, psicológica y social.
                    </p>
                    <p>
                        <button
                            class="mdc-button mdc-button--raised mdc-button--color-inverted animate__animated animate__tada"
                            aria-label="Try Chat" alt="Try Chat" data-action-type="redirect" data-action-val="/chat/">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">Chatea con nosotras</span>
                        </button>
                    </p>
                    <p class="mdc-typography--subtitle2 s-font-color-on-primary s-font-policies">
                        Recuerda: al utilizar la plataforma, estás aceptando nuestros
                        <a href="/terminosdelservicio/" target="_blank">Términos y Condiciones del Servicio</a> y
                        <a href="/politicaprivacidad/" target="_blank">Política de Privacidad</a>.
                    </p>
                    <br />
                    <p class="mdc-typography--subtitle1 s-font-color-on-primary">
                        Para <b>ASISTIR A UNA CITA</b> o <b>SOLICITAR UNA NUEVA</b>, crea o accede a tu cuenta
                        personal:
                    </p>
                    <p>
                        <button id="loginButton" class="mdc-button mdc-button--raised mdc-button--color-secondary"
                            aria-label="Login" alt="Login" data-action-type="redirect" data-action-val="/login/">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">Ingresa por aquí</span>
                        </button>
                    </p>
                </div>
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                    <img class="resize-image-2fit-50" src="../static/images/manifest/isdemu.svg" alt="Logo ISDEMU" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-m">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--align-middle container-justify-center">
                    <h2
                        class="mdc-typography--headline2 s-font-color-secondary s-font-align-center s-font-family-poppins">
                        Servicios que ofrecemos
                    </h2>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-top s-font-align-center">
                    <i class="fas fa-chalkboard-teacher s-font-size-l s-font-color-yellow-titles"
                        aria-hidden="true"></i>
                    <p class="mdc-typography--headline6 s-font-color-on-background">
                        Orientación
                    </p>
                    <p class="mdc-typography--body2 s-font-color-on-background">
                        Mecanismos que se pueden activar para garantizar los derechos de las mujeres, rutas de atención
                        a la violencia: Información general, atención de emergencia y referencia a los servicios de
                        ISDEMU y a otras instituciones de apoyo.
                    </p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-top s-font-align-center">
                    <i class="fas fa-balance-scale s-font-size-l s-font-color-yellow-titles" aria-hidden="true"></i>
                    <p class="mdc-typography--headline6 s-font-color-on-background">
                        Asistencia legal
                    </p>
                    <p class="mdc-typography--body2 s-font-color-on-background">
                        Orientación en diferentes ramas del derecho vinculadas a la protección de las mujeres.
                    </p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-top s-font-align-center">
                    <i class="fas fa-hand-holding-heart s-font-size-l s-font-color-yellow-titles"
                        aria-hidden="true"></i>
                    <p class="mdc-typography--headline6 s-font-color-on-background">
                        Apoyo psicológico y social
                    </p>
                    <p class="mdc-typography--body2 s-font-color-on-background">
                        Se brinda atención en crisis y seguimientos psicológicos, trabajando con herramientas que
                        permiten a las mujeres poner un ALTO a la violencia, empoderándolas, a través de atención
                        individual y grupal, apoyándoles para la creación de un plan de vida y seguridad, identificando
                        redes de apoyo, con la finalidad de encontrar soluciones duraderas.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-primary">
        <div class="mdc-layout-grid container-size-m">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--align-middle container-justify-center">
                    <h2
                        class="mdc-typography--headline2 s-font-color-yellow-titles s-font-align-center s-font-family-poppins">
                        Horarios de atención
                    </h2>
                    <div class="s-font-align-center">
                        <i class="fas fa-clock s-font-size-l s-font-color-yellow-titles" aria-hidden="true"></i>
                        <p class="mdc-typography--body1 s-font-color-on-primary">
                            Lunes a viernes de 8:00 a.m. a 8:00 p.m.
                        </p>
                    </div>
                    <br /><br />
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-top s-font-align-center">
                        <i class="fas fa-phone-square-alt s-font-size-l s-font-color-yellow-titles"
                            aria-hidden="true"></i>
                        <p class="mdc-typography--body1 s-font-color-on-primary">
                            Si tú u otras personas están en riesgo de muerte o daño grave, por favor, <b>llama al
                                911</b>.
                        </p>
                    </div>
                </div>
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                    <img src="{{ url_for('static', filename='images/manifest/user_f_04.svg') }}" alt="Horario" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-surface">
        <div class="mdc-layout-grid container-size-m">
            <div class="mdc-layout-grid__inner">
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                    <img src="{{ url_for('static', filename='images/manifest/user_f_05.svg') }}" alt="How To" />
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--align-middle container-justify-center">
                    <h2
                        class="mdc-typography--headline2 s-font-color-secondary s-font-align-center s-font-family-poppins">
                        Cómo usar la plataforma
                    </h2>
                    <p class="mdc-typography--body2 s-font-color-on-surface">
                        En 126 Te Orienta se puede recibir atención desde teléfonos o computadoras. La atención virtual
                        es una forma simple y rápida de obtener atención especializada desde cualquier otro lugar en que
                        te encuentres y cuando la necesites. Ahorras tiempo y dinero para visitar ISDEMU y otras
                        instituciones, recibiendo la misma atención de calidad y calidez que necesitas.
                    </p>
                    <div class="mdc-card">
                        <div class="mdc-card__primary-action" tabindex="0">
                            <div class="mdc-card__media mdc-card__media--16-9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/XVl77iIZ4m8?rel=0"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>
                            <div class="mdc-typography--headline6 s-font-color-primary">Video tutorial</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-primary">
        <div class="mdc-layout-grid container-size-s">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--align-middle container-justify-center">
                    <h2
                        class="mdc-typography--headline2 s-font-color-yellow-titles s-font-align-center s-font-family-poppins">
                        Beneficios
                    </h2>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-top s-font-align-center">
                    <i class="material-icons s-font-size-l s-font-color-yellow-titles" aria-hidden="true">money_off</i>
                    <p class="mdc-typography--body1 s-font-color-on-primary">
                        La atención es <b>gratuita</b>.
                    </p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-top s-font-align-center">
                    <i class="material-icons s-font-size-l s-font-color-yellow-titles" aria-hidden="true">lock</i>
                    <p class="mdc-typography--body1 s-font-color-on-primary">
                        Tu información es anónima y confidencial.
                    </p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-top s-font-align-center">
                    <i class="fas fa-hands-helping s-font-size-l s-font-color-yellow-titles" aria-hidden="true"></i>
                    <p class="mdc-typography--body1 s-font-color-on-primary">
                        Referencia a servicios de otras instituciones.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-background">
        <div class="mdc-layout-grid container-size-xs">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--align-middle container-justify-center">
                    <h2
                        class="mdc-typography--headline2 s-font-color-secondary s-font-align-center s-font-family-poppins">
                        Nuestros aliados:
                    </h2>
                </div>
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span mdc-layout-grid__cell--align-middle s-font-align-center">
                    <img class="resize-image-2fit-50" src="../static/images/manifest/bid_slogan.png" alt="Logo BID" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-color-primary">
        <div class="mdc-layout-grid container-size-xs">
            <div class="mdc-layout-grid__inner">
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet 
                            mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle s-font-align-center">
                    <img class="resize-image-2fit-70" src="../static/images/manifest/gobsv.svg"
                        alt="Logo Gobierno El Salvador" />
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block bottombar %}
<button id="floatingButtonW" class="mdc-fab mdc-fab--fixed mdc-fab--whatsapp" aria-label="WhatsApp Contact Center"
    onclick="window.open('https://wa.me/50376086805');">
    <div class="mdc-fab__ripple"></div>
    <span class="mdc-fab__icon fa fa-whatsapp"></span>
</button>
<button id="floatingButtonT" class="mdc-fab mdc-fab--fixed mdc-fab--telegram" aria-label="Telegram Contact Center"
    onclick="window.open('https://telegram.me/ISDEMU');">
    <div class="mdc-fab__ripple"></div>
    <span class="mdc-fab__icon fab fa-telegram-plane"></span>
</button>
{% endblock %}